body{
	background:#232323;
	margin:0px;
	font-family:"Montserrat","Avenir";
}
.square{
	padding-bottom:30%;
	width:30%;
	background:pink;
	margin:1.66%;
	float:left;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-webkit-transition: background 0.6s;
}
#container{
	max-width:40%;
	margin: 0 auto;
}
h1{
	color:white;
	text-align: center;
	padding:1.5%;
	background-color: steelblue;
	line-height: 1.1;
	margin:0px;
	font-weight: 400;
}
#stripe{
	background-color:white;
	height:30px;
	text-align: center;
	margin-bottom:15px;
}
.selected{
	background-color:steelblue;
	color:white;
}
#disp{
		font-size: 2em;
		text-transform: uppercase;
}
button{
	border:0;
	background-color: white;
	height:100%;
	font-weight: 700;
	color:steelblue;
	font-size: inherit;
	letter-spacing: 1px;
	transition: all 0.3s;
	-webkit-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	outline: none;
}
#result{
	width:20%;
	display: inline-block;

}
button:hover{
	color:white;
	background-color: steelblue;

}